<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Empty AspNet</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css"/>
    <script src="~/js/JavaScript.js" defer></script>
    <noscript>You need to enable JavaScript to view the full site.</noscript>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
