<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Empty AspNet</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
