@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    int value = 1;
    string name = "ryan fuckyou";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This was all written in C# by Ryan Full House</a>.</p>
    <p>@DateTime.Now</p>
    <p>@value is the loneliest number ain't that right @name</p>
    
</div>
