@page
@model aspnetCoreEmpty.Pages.IndexModel
@{
	ViewData["Title"] = "Home Page";
	Layout = "_Layout";
}


<h1>Task List</h1>
<p id="msg">Current tasks:</p>
<ul>
	<li class="list">Add visual styles</li>
	<li class="list">Add light and dark themes</li>
	<li>Enable switching the theme</li>
</ul>