html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

p {
    display: flex;
    flex: auto;
    text-align: right;
    justify-content: center;
    
}

h2 {
    font-family:'Comic Sans MS';
}
